<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <label class="card-title">Plant People</label>
        <label class="card-subtitle mb-2 text-muted">
          An online retail shop, Plant People is dedicated to enhancing the
          aesthetics of homes and businesses with thoughtfully designed plant
          decor. We believe in the power of nature to transform spaces and
          uplift spirits.
        </label>
      </div>
    </div>
  </div>
</div>
