<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <label class="card-title">Grandpa's Garden Shop</label>
        <label class="card-subtitle mb-2 text-muted">
          At Grandpa's Garden Shop, we offer a wide range of gardening equipment
          and accessories online. Our products are carefully curated to help
          gardeners of all levels cultivate their passion and achieve bountiful,
          beautiful gardens.
        </label>
      </div>
    </div>
  </div>
</div>
