<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <label class="card-title">Helpful Services</label>
        <label class="card-subtitle mb-2 text-muted">
          Specializing in the installation of outdoor recreational areas,
          Helpful Services transforms ordinary spaces into extraordinary
          retreats. Our expertise in home services ensures that every project
          enhances the beauty and functionality of your outdoor environment.
        </label>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../../assets/h1.png" class="d-block w-100 img-fluid" alt="h1" height='400px'>
        </div>
        <div class="carousel-item">
          <img src="../../../assets/h2.png" class="d-block w-100 img-fluid" alt="h2" height='400px'>
        </div>
        <div class="carousel-item">
          <img src="../../../assets/h3.png" class="d-block w-100 img-fluid" alt="h3" height='400px'>
        </div>
        <div class="carousel-item">
          <img src="../../../assets/h4.png" class="d-block w-100 img-fluid" alt="h4" height='400px'>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
