<footer class="w-100 py-4 flex-shrink-0">
  <div class="container py-4">
    <div class="row gy-4 gx-5">
      <div class="col-lg-4 col-md-6">
        <p class="small text-muted">
          Keep up with the latest news, company updates and product
          announcements:
        </p>
        <form action="#">
          <div class="input-group mb-3">
            <input
              class="form-control"
              type="text"
              placeholder="Email@sample.com"
              aria-label="email"
              aria-describedby="button-addon2"
            />
            <button class="btn" id="button-addon2" type="button">
              <i class="bi bi-arrow-right"></i>
            </button>
          </div>
        </form>
      </div>

      <div class="col-lg-4 col-md-6 text-center">
        <img src="../../../assets/icon.png" class="img-fluid" alt="icon" height="70px" />
        <br />
        <label class="small text-muted mt-2"> info@vindacconsulting,com </label>
        <br />
        <label class="small text-muted"> 1 Farmers Avenue, </label>
        <p class="small text-muted mb-0">Bethpage, NY 11714</p>
      </div>

      <div class="col-lg-2 col-md-6">
        <ul class="list-unstyled text-muted">
          <li><a class='contact-label' routerLink="/about">About</a></li>
          <li><a class='contact-label' routerLink="/portfolio">Portfolio</a></li>
          <li><a class='contact-label' routerLink="/team">Team</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-6">
        <i class="bi bi-file-earmark-text contact-icon"></i>
        <label class='contact-label' routerLink="/contact">Contact</label>
      </div>
    </div>
  </div>
</footer>
