<div id="mainNavigation">
  <nav role="navigation">
    <div class="py-3 text-center border-bottom">
      <img src="../../../assets/icon.png" alt="icon" height="100px" routerLink="/home" style='cursor: pointer;'/>
    </div>
  </nav>
  <div class="navbar-expand-md">
    <div class="navbar-dark text-center my-2">
      <button
        class="navbar-toggler w-75"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
        <span class="align-middle">Menu</span>
      </button>
    </div>
    <div
      class="text-center mt-3 collapse navbar-collapse"
      id="navbarNavDropdown"
    >
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/methodology">Methodology</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/create-with-vin">Create with VIN</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Others
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="/day-one-distro">Day 1 Distro</a></li>
            <li><a class="dropdown-item" routerLink="/vindac-builds">VINDAC Build</a></li>
            <li><a class="dropdown-item" routerLink="/helpful-services">Helpful Services</a></li>
            <li><a class="dropdown-item" routerLink="/plant-people">Plant People</a></li>
            <li><a class="dropdown-item" routerLink="/grandpas-garden-shop">Grandpa's Garden Shop</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
