<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <label class="card-title">Day 1 Distro</label>
        <label class="card-subtitle mb-2 text-muted">
          As a premier wholesale distribution company with a state-of-the-art
          showroom and fulfillment center in New York, Day 1 Distro services the
          entire United States and reaches international markets. Our dedicated
          sales team ensures seamless operations and unparalleled customer
          satisfaction.
        </label>
      </div>
    </div>
  </div>
</div>
